<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/layout2 :: head"></head>

<body class="hold-transition sidebar-mini layout-fixed">
 
 
<div th:replace="fragments/layout2 :: sidebar"></div>

  <!-- Content Wrapper. Contains page content -->
   <!-- QUAN TRONG -->
  <div class="content-wrapper">

    <!-- Main content -->
     
        <div align="center">
		<h2>ADD USER</h2>
		 
		<form action="#" th:action="@{/saveuser}" th:object="${user}"
			method="post">
			<table class="table table-striped">

				<!-- <tr>
<td>ID</td>
<td><input type="text" th:field="*{id}" /></td>
</tr> -->
 				<tr>
					<td width="400">Tên User</td>
					<td><input class="form-control" type="text" th:field="*{email}" />
					<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                            </span></td>
				</tr>

				<tr>
					<td>Password</td>
					<td><input class="form-control" type="password" th:field="*{password}" />
					
					<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                            </span>
                            </td>
				</tr> 
				<tr> 

		<!-- 		 <ul class="checkbox-list">
                            <li th:each="role : ${roles}">
                                <input type="checkbox" th:field="*{role.id}" th:value="${role.id}"/>
                            </li>
                        </ul> -->
					  <td>Role</td>
					<td>
				<select class="form-control" th:field="*{roles}">
		<option th:value="'1'">ADMIN</option>
		<option th:value="'2'">MANAGER</option>
		</select>
	<div th:if="${userError}!=null"><br/><span th:utext="${userError}" class="text-danger"></span></div>

		</td>
<!-- 		<select class="form-control"  th:field="*{roles}" >
		<option th:each="role: *{roles}" th:value="*{role.id}" th:text="*{role.name}"></option>
		</select> -->
 	 			</tr> 
				<tr>
					<td colspan="2"><button class="btn btn-success" type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
                   
	<!-- End Main content -->
        
</div>
        
<footer th:replace="fragments/layout2 :: footer"></footer>

</body>
</html>	 