<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>

<body class="hold-transition sidebar-mini layout-fixed">
 
 
<div th:replace="fragments/layout :: sidebar"></div>

  <!-- Content Wrapper. Contains page content -->
   <!-- QUAN TRONG -->
  <div class="content-wrapper">

    <!-- Main content -->
    
	 
        <div align="center">
		<h2>THÊM HỌC VIÊN VÀO KHÓA HỌC</h2>
		<form action="#" th:action="@{/saveempkhoahoc}" th:object="${empKhoaHoc}" method="post">
		<table class="table table-striped">
		
		<tr> 
		<td>Khóa học ID:</td>
		<td><input class="form-control" type="text" th:field="*{khoaHoc.khoahoc_id}" readonly="readonly" /></td>
		</tr>
		
		<tr> 
		<td>Học viên/Trainer ID:</td>
		<td><input class="form-control" type="text" th:field="*{emp.id}" /></td>
		</tr>
		
		<tr> 
		<td>Mô tả</td>
		<td><input class="form-control" type="text" th:field="*{mota}" /></td>
		</tr>
		<tr> 
		<td>Thời gian đầu học:</td>
		<td><input class="form-control" type="date" th:field="*{thoigianbatdau}" /></td>
		</tr>
		<tr> 
		<td>Thời gian kết thúc:</td>
		<td><input class="form-control" type="date" th:field="*{thoigianketthuc}" /></td>
		</tr>
		 
		<tr>
		<td colspan="2"><button class="btn btn-success" type="submit">Save</button></td>
		</tr>
		
		</table>
		</form>
	</div>
 
                   
	<!-- End Main content -->
        
</div>
        
 <footer th:replace="fragments/layout :: footer"></footer>

</body>
</html>
 
 
  