<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>

<body class="hold-transition sidebar-mini layout-fixed">
 
 
<div th:replace="fragments/layout :: sidebar"></div>

  <!-- Content Wrapper. Contains page content -->
   <!-- QUAN TRONG -->
  <div class="content-wrapper">

    <!-- Main content -->
    
	 
        <div align="center">
		<h2>THÊM KHÓA HỌC</h2>
		<form action="#" th:action="@{/save}" th:object="${attributekhoahoc}" method="post">
		<table class="table table-striped">
		<tr> 
		<td>Tên khóa học:</td>
		<td><input class="form-control" type="text" th:field="*{tenkhoahoc}" /></td>
		</tr>
		<tr> 
		<td>Ngày bắt đầu:</td>
		<td><input class="form-control" type="date" th:field="*{ngaybatdau}" /></td>
		</tr>
		<tr> 
		<td>Ngày kết thúc:</td>
		<td><input class="form-control" type="date" th:field="*{ngayketthuc}" /></td>
		</tr>
		
		<tr>
		<td colspan="2"><button class="btn btn-success" type="submit">Save</button></td>
		</tr>
		
		</table>
		</form>
	</div>
 
                   
	<!-- End Main content -->
        
</div>
        
 <footer th:replace="fragments/layout :: footer"></footer>

</body>
</html>
 
 
 
 
 
 
 
 
 
 
 
	