<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout2 :: head"></head>

<body class="hold-transition sidebar-mini layout-fixed">
 
 
<div th:replace="fragments/layout2 :: sidebar"></div>

  <!-- Content Wrapper. Contains page content -->
   <!-- QUAN TRONG -->
  <div class="content-wrapper">

    <!-- Main content -->
    
	 
        <div class="table-responsive">
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<td>USER ID</td>
					<td>USER</td>
					<td>ACTION</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user: ${listUser}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.email}"></td>
				<td>  <a th:href="@{'/deleteuser/'+${user.id}}"><i class="fa fa-trash"></i></a>
				</td>
				
				</tr> 
			</tbody>

		</table>
				</div>
</div>
 <footer th:replace="fragments/layout2 :: footer"></footer>

</body>
</html>
