<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>

<body class="hold-transition sidebar-mini layout-fixed">
 
 
<div th:replace="fragments/layout :: sidebar"></div>

  <!-- Content Wrapper. Contains page content -->
   <!-- QUAN TRONG -->
  <div class="content-wrapper">

    <!-- Main content -->
	 
        <div class="table-responsive">
		  <div align="center">
		<h2>EDIT USER</h2>
		<form action="#" th:action="@{/saveuser}" th:object="${user}" method="post">
			<table class="table table-striped">

				<tr>
					<td>ID User: </td>
					<td><input class="form-control"  type="text" th:field="*{id}"
						readonly="readonly" /></td>
				</tr>
				<tr>
					<td>Email: </td>
					<td><input class="form-control"  type="text" th:field="*{email}" /></td>
				</tr>

				<tr>
					<td>Password:</td>
					<td><input class="form-control"  type="text" th:field="*{password}" /></td>
				</tr>

				<tr>
					<td>Chức vụ:</td>
					<td><input class="form-control"  type="text" th:field="*{roles}" /></td>
				</tr>
				<tr>
					<td colspan="2"><button class="btn btn-success" type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
		 
		 </div>
                   
	<!-- End Main content -->
        
</div>


        
 <footer th:replace="fragments/layout :: footer"></footer>

</body>
</html>
 
	 