<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout2 :: head"></head>

<body class="hold-transition sidebar-mini layout-fixed">
 
 
<div th:replace="fragments/layout2 :: sidebar"></div>

  <!-- Content Wrapper. Contains page content -->
   <!-- QUAN TRONG -->
  <div class="content-wrapper">

    <!-- Main content -->
	 
        <div class="table-responsive">
		  <div align="center">
		<h2>EDIT USER</h2>
		<form action="#" th:action="@{/saveuser}" th:object="${user}" method="post">
			<table class="table table-striped">

				<tr>
					<td  width="400">ID User: </td>
					<td><input class="form-control"  type="text" th:field="*{id}"
						readonly="readonly" /></td>
				</tr>
				<tr>
					<td>Tên User: </td>
					<td><input class="form-control"  type="text" th:field="*{email}" />
					<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                            </span></td>
				</tr>

				<tr>
					<td>Password:</td>
					<td><input class="form-control"  type="password" th:field="*{password}" />
					<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                            </span></td>
				</tr>

				<tr>
					<td>Chức vụ:</td>
					<td><select class="form-control" th:field="*{roles}">
		<option th:value="'1'">ROLE_ADMIN</option>
		<option th:value="'2'">ROLE_MANAGER</option>
		</select>
		<div th:if="${userError}!=null"><br/><span th:utext="${userError}" class="text-danger"></span></td>
				</tr>
				<tr>
					<td colspan="2"><button class="btn btn-success" type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
		 
		 </div>
                   
	<!-- End Main content -->
        
</div>


        
 <footer th:replace="fragments/layout2 :: footer"></footer>

</body>
</html>
 
	 