<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeLeaf.org">
<head>



<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 -->


<title>SHOW KHÓA HỌC</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/util.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">

				<div class="table100 ver3 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">ID</th>
									<th class="cell100 column2">TÊN KHÓA HỌC</th>
									<th class="cell100 column3">NGÀY BẮT ĐẦU</th>
									<th class="cell100 column4">NGÀY KẾT THÚC</th>
									<th class="cell100 column5">ACTION</th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							<tbody>
								<tr class="row100 body"
									th:each="kh: ${listKhoaHoc}">
									<td class="cell100 column1" th:text="${kh.khoahoc_id}">
									</td>
									<td class="cell100 column2" th:text="${kh.tenkhoahoc}"></td>
									<td class="cell100 column3" th:text="${kh.ngaybatdau}"></td>
									<td class="cell100 column4" th:text="${kh.ngayketthuc}"></td>
									<td class="cell100 column5"><a
										th:href="@{'/editkhoahoc/' + ${kh.khoahoc_id}}">EDIT</a>
										&nbsp;&nbsp; <a
										th:href="@{'/deletekhoahoc/'+${kh.khoahoc_id}}">DELETE</a>
										&nbsp;&nbsp; <a th:href="@{'/empkhoahoc/'+${kh.khoahoc_id}}">SHOW
											MÔ TẢ</a> &nbsp;&nbsp; <a
										th:href="@{'/addempkhoahoc/'+${kh.khoahoc_id}}">ADD HỌC
											VIÊN</a></td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function() {
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function() {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>