<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>SHOW KHÓA HỌC</title>

<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 -->
</head>


<body>
	<div align="center">
		<h1>SHOW KHÓA HỌC</h1>
		<br />
		<a href="addkhoahoc">Tạo mới khóa học</a>
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<td>ID</td>
					<td>TÊN KHÓA HỌC</td>
					<td>NGÀY BẮT ĐẦU</td>
					<td>NGÀY KẾT THÚC</td>
					<td>ACTION</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="kh: ${listKhoaHoc}">
				<td th:text="${kh.khoahoc_id}"></td>
				<td th:text="${kh.tenkhoahoc}"></td>
				<td th:text="${kh.ngaybatdau}"></td>
				<td th:text="${kh.ngayketthuc}"></td> 
				<td> <a th:href="@{'/editkhoahoc/' + ${kh.khoahoc_id}}">EDIT</a>
				&nbsp;&nbsp; 
				<a th:href="@{'/deletekhoahoc/'+${kh.khoahoc_id}}">DELETE</a>
				&nbsp;&nbsp; 
  				<a th:href="@{'/empkhoahoc/'+${kh.khoahoc_id}}">SHOW MÔ TẢ</a>
  				&nbsp;&nbsp; 
  				<a th:href="@{'/addempkhoahoc/'+${kh.khoahoc_id}}">ADD HỌC VIÊN</a>
				</td>
				
				</tr> 
			</tbody>

		</table>
	</div>
</body>
</html>