<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>

<body class="hold-transition sidebar-mini layout-fixed">
 
 
<div th:replace="fragments/layout :: sidebar"></div>

  <!-- Content Wrapper. Contains page content -->
   <!-- QUAN TRONG -->
  <div class="content-wrapper">

    <!-- Main content -->
    
	 
        <div class="table-responsive">
		
		<table class="table table-striped">

			<thead class="thead-dark"> 
				<tr>
					<td>ID</td>
					<td>TÊN HỌC VIÊN</td>
					<td>NGÀY SINH</td>
					<td>GIỚI TÍNH</td>
					<td>ĐỊA CHỈ</td>
					<td>EMAIL</td>
					<td>SĐT</td> 
					<td>CHỨC VỤ</td> 
					<td>ACTION</td> 
				</tr>
			</thead>
			<tbody>
				<tr th:each="emp: ${listEmp}">
				<td th:text="${emp.id}"></td>
				<td th:text="${emp.ten}"></td>
				<td th:text="${emp.ngaysinh}"></td>
				<td th:text="${emp.gioitinh}"></td> 
				<td th:text="${emp.diachi}"></td>
				<td th:text="${emp.email}"></td>
				<td th:text="${emp.sdt}"></td>
				<td th:text="${emp.chucvu.tenchucvu}"></td>
				 <td>
				 <a th:href="@{'/editemp/' + ${emp.id}}"><i class="fas fa-pencil-alt"></i></a>
				 &nbsp;&nbsp;<a th:href="@{'/deleteemp/'+${emp.id}}"><i class="fa fa-trash"></i></a>
				 </td>
				</tr> 
			</tbody>

		</table> 
				</div>
                   
	<!-- End Main content -->
        
</div>
        
 <footer th:replace="fragments/layout :: footer"></footer>

</body>
</html>

	 