<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeLeaf.org">
<head>
<style>
body {
  /* Set "my-sec-counter" to 0 */
  counter-reset: my-sec-counter;
}

h3::before {
  /* Increment "my-sec-counter" by 1 */
  counter-increment: my-sec-counter;
  content: ""counter(my-sec-counter)"";
}
</style>

<meta charset="ISO-8859-1">
<title>SHOW KHÓA HỌC</title>

<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 -->
</head>


<body>
	<div align="center">
		<h1>SHOW HỌC VIÊN</h1>
		<br /> 
		<table border="1" cellpadding="10">

			<thead>
				<tr> 
					<td>STT</td>
					<td>Danh Sách Học Viên</td>
					<td>MÔ TẢ</td>
					<td>NGÀY BẮT ĐẦU</td>
					<td>NGÀY KẾT THÚC</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="kh: ${listmota}">
				<!-- <td th:text="${kh.id}"></td> -->
				  <td><h3></h3></td>
				  <td th:text="${kh.emp.ten}"></td> 
				  <td th:text="${kh.mota}"></td> 
				  <td th:text="${kh.thoigianbatdau}"></td> 
				  <td th:text="${kh.thoigianketthuc}"></td> 
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>