<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
</head>

<body class="hold-transition sidebar-mini layout-fixed">



<div th:replace="fragments/layout :: sidebar"></div>

  <!-- Content Wrapper. Contains page content -->
   <!-- QUAN TRONG -->
  <div class="content-wrapper">

    <!-- Main content -->
    
        <div class="table-responsive">
			<table class="table table-striped table-bordered mydatatable">

			<thead class="thead-dark"> 
				<tr>
					<th class="h6">ID</th>
					<th class="h6">ACTION</th> 
					<th class="h6">GIẢNG VIÊN</th>
					<th class="h6">SĐT</th> 
					<th class="h6">CÁC LỚP ĐANG DẠY</th>
					<th class="h6">SỐ HỌC VIÊN</th>
					<th class="h6">TỔNG SỐ LỚP</th>
					<th class="h6">NGÀY UPDATE</th>
					
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="emp: ${listEmp}">
				<td th:text="${emp.id}"></td>
				 <td>
				 <a th:href="@{'/thongke/capnhat/' + ${emp.id}}"><i class="fas fa-redo-alt"></i></a>
				 </td>
				<td th:text="${emp.ten}"></td>
				<td th:text="${emp.sdt}"></td>
				<td>
				<span th:if="${emp.empKhoaHoc}" th:each="empKhoaHoc: ${emp.empKhoaHoc}">
  				
  				<span th:text="${empKhoaHoc.khoaHoc.tenkhoahoc}"></span>
  				&nbsp;&nbsp;  
  				<br/></span> 
				</td>
				
				<td>
				<span th:if="${emp.empKhoaHoc}" th:each="empKhoaHoc: ${emp.empKhoaHoc}">
  				
  				<span th:if="${empKhoaHoc.thongKe}" th:text="${empKhoaHoc.thongKe.tongsohocvien}"></span>
  				&nbsp;&nbsp;  
  				<br/></span>   
				</td>
			 
				<td>
				 
				<span th:if="${emp.empKhoaHoc}"><span th:text="${emp.solopdangday}"></span></span>
				  
				</td>  
 				<td>
 				 
 				<span th:if="${emp.empKhoaHoc}" th:text="${#dates.format(emp.thoigianthongke, 'dd-MM-yyyy')}"></span>
 				  
 				</td>
				
				
				</tr>
			</tbody>

		</table> 
				</div>
	<!-- End Main content -->      
</div>
 
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
$('.mydatatable').DataTable();
</script>
 
</body>

<footer th:replace="fragments/layout :: footer"></footer>
</html>

    
	  