<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>

<body class="hold-transition sidebar-mini layout-fixed">
 
 
<div th:replace="fragments/layout :: sidebar"></div>

  <!-- Content Wrapper. Contains page content -->
   <!-- QUAN TRONG -->
  <div class="content-wrapper">

    <!-- Main content -->
    
	 
        <div class="table-responsive">
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<td>ID</td>
					<td>TÊN KHÓA HỌC</td>
					<td>NGÀY BẮT ĐẦU</td>
					<td>NGÀY KẾT THÚC</td>
					<td>ACTION</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="kh: ${listKhoaHoc}">
				<td th:text="${kh.khoahoc_id}"></td>
				<td th:text="${kh.tenkhoahoc}"></td>
				<td th:text="${kh.ngaybatdau}"></td>
				<td th:text="${kh.ngayketthuc}"></td> 
				<td> <a th:href="@{'/editkhoahoc/' + ${kh.khoahoc_id}}">EDIT</a>
				&nbsp;&nbsp; 
				<a th:href="@{'/deletekhoahoc/'+${kh.khoahoc_id}}">DELETE</a>
				&nbsp;&nbsp; 
  				<a th:href="@{'/empkhoahoc/'+${kh.khoahoc_id}}">SHOW MÔ TẢ</a>
  				&nbsp;&nbsp; 
  				<a th:href="@{'/addempkhoahoc/'+${kh.khoahoc_id}}">ADD HỌC VIÊN</a>
				</td>
				
				</tr> 
			</tbody>

		</table>
				</div>
                   
	<!-- End Main content -->
        
</div>
        
 <footer th:replace="fragments/layout :: footer"></footer>

</body>
</html>
