<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
</head>
<style>
body {
  /* Set "my-sec-counter" to 0 */
  counter-reset: my-sec-counter;
}

h5::before {
  /* Increment "my-sec-counter" by 1 */
  counter-increment: my-sec-counter;
  content: ""counter(my-sec-counter)"";
}
</style>
<body class="hold-transition sidebar-mini layout-fixed">
 
 
<div th:replace="fragments/layout :: sidebar"></div>

  <!-- Content Wrapper. Contains page content -->
   <!-- QUAN TRONG -->
  <div class="content-wrapper">

    <!-- Main content -->
    
	 
        <div class="table-responsive">
		
		  <div align="center">
		<h2>SHOW HỌC VIÊN</h2></div> 
		<table class="table table-striped table-bordered mydatatable"> 
			<thead class="thead-dark">
				<tr> 
					<th class="h6">STT</th>
					<th class="h6">TÊN HỌC VIÊN</th>
					<th class="h6">CHỨC VỤ</th>
					<th class="h6">MÔ TẢ</th>
					<th class="h6">NGÀY BẮT ĐẦU</th>
					<th class="h6">NGÀY KẾT THÚC</th>
					<th class="h6">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="kh: ${listmota}">
				<!-- <td th:text="${kh.id}"></td> -->
				  <td><h5></h5></td>
				  <td th:text="${kh.emp.ten}"></td> 
				  <td th:text="${kh.emp.chucvu.tenchucvu}"></td> 
				  <td th:text="${kh.mota}"></td> 
				  <td th:text="${kh.thoigianbatdau}"></td> 
				  <td th:text="${kh.thoigianketthuc}"></td> 
				  <td>
				  <a th:href="@{'/editempkhoahoc/' + ${kh.id}}"><i class="fas fa-pencil-alt"></i></a>&nbsp;&nbsp;
				  <a th:href="@{'/deleteempkhoahoc/'+${kh.id}}"><i class="fa fa-trash"></i></a>
				  </td>
				</tr>
			</tbody>
		</table>
	 
 </div>                  
	<!-- End Main content -->
        
</div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
$('.mydatatable').DataTable();
</script>


</body>
 
 <footer th:replace="fragments/layout :: footer"></footer>
</html>

	  